div.content {
    /*width: 79%;
    float: left;*/
    font-size: 20px;
    border-left: 1px solid black;
    padding-left: 10px;
}
div.content h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
}
div.content p {
    padding-left: 10px;
}
img.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}
