div.comment {
    padding-left: 10px;
}
form{
    margin-bottom: 30px;
}
button.sendPost {
    width: 100px;
    height: 25px;
    background-color: #545160;
    border-radius: 10px;
    border: none;
    color: white;
}
textarea.enterPost {
    width: 200px;
    height: 75px;
}
div.postsContent {
    margin: 0;
    padding: 0;
}
h2 {
    width: 80%;
    text-align: center;
    padding: 0;
}