div.content {
    width: 79%;
    display: grid;
    grid-template-areas: "users chats";
    grid-template-columns: 20% 1fr;
    border-left: 1px solid black;
    padding-left: 10px;
}
div.users {
    grid-area: users;
    padding-top: 20px;
}
div.users a {
    text-decoration: none;
    color: black;
}
div.userChat {
    grid-area: chats;
    padding-left: 20px;
    padding-top: 20px;
}
textarea.messageText {
    margin-top: 30px;
    width: 200px;
    height: 75px;
    float: left;
}
button.sendMessage {
    margin-top: 80px;
    margin-left: 20px;
    height: 30px;
    width: 100px;
}
