header {
    height: 100px;
    background-color: #bbb3da;
    padding: 0;
    margin: 0;
    grid-area: h;
}

header img {
    width: 80px;
    margin: 10px 0 0 100px;
}

header ul {
    padding: 0;
    margin-top: 32px;
    margin-right: 100px;
    display: inline-block;
    list-style-type: none;
    float: right;
}

header ul li {
    display: inline;
    margin-left: 50px;
    font-size: 26px;
}
a.headerMenu {
    color: black;
    text-decoration: none;
}
a.headerMenu:hover {
    color: #545160;
}
header a.activeLink {
    color: #545160;
}