aside.content {
    /*width: 20%;
    float: left;*/
    grid-area: s;
    border-right: 1px solid black;
}

aside.content h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 20px 0 0 0;
}