div.app {
    display: grid;
    grid-template-areas: "h h"
                         "s c";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 100px 1fr;
}

div.appContent {
    grid-area: c;
}